/* ==========================================================================
   Icons
   ========================================================================== */

// Make angle right size appear normal on button
a > .fa-angle-right {
  margin-left: .25rem;
  top: 1px;
  position: relative;
}